<h3 class="inline"><%= link_to @link.title, "http://#{@link.url}"%></h3>
<p>
<% @link.comments.upvote_order.recent.each_with_index do |comment, i| %>
  <% if comment %>
     <%= link_to "^", link_comment_path(@link, comment, { :upvotes => (comment.upvotes + 1) }), :method => :patch %><%= comment.upvotes %> upvotes
    <p> <%= i + 1 %>. <%= comment.body %> </p>
    <p> <%= comment.created_at.strftime("Posted on %m/%d/%Y") %> </p>
    <p> -------------------------------- </p>
  <% end %>
<% end %>

<%= form_for [@link, @comment] do |f| %>
  <%=  f.label :body %>
  <%= f.text_field :body %>
  <%= f.submit %>
<% end %>


