<!DOCTYPE html>
<html>
<head>
  <title>HackerNews</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<div class="navbar navbar-default" role="navigation">
<li><%= link_to "HOME", root_path %></li>
<li><%= link_to "New", new_link_path %></li>
</div>
<%= yield %>
</div>
</body>
</html>
