<!DOCTYPE html>
<html>
<head>
  <title>HackerNews</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<div class="navbar navbar-default" role="navigation">
<h3 class="navbar-text"> Hacker News </h3>
<p class="navbar-text"><%= link_to "Home", root_path %></p>
<p class="navbar-text"><%= link_to "New", new_link_path %></p>
</div>
<%= yield %>
</div>
</body>
</html>
